<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000804888214-i3a7jk35k53unqg66v5ni4rs0g1n7gca.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000804888214-i3a7jk35k53unqg66v5ni4rs0g1n7gca</string>
	<key>API_KEY</key>
	<string>AIzaSyDOe-39hJ8srsmClxh3VjZsW1gTM0K2XEg</string>
	<key>GCM_SENDER_ID</key>
	<string>1000804888214</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MYCompany.ContactApp-TestPurpose-July13th</string>
	<key>PROJECT_ID</key>
	<string>contactapptestpurposejuly13th</string>
	<key>STORAGE_BUCKET</key>
	<string>contactapptestpurposejuly13th.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000804888214:ios:cde07efa4ac31105ab9cb7</string>
</dict>
</plist>